@import 'assets/css/variables.scss';

@font-face {
  font-family: 'roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'roboto-bold';
  src: url('/assets/fonts/Roboto-Bold.ttf');
}

@mixin hearts {
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

body {
    font-size: 1rem;
    font-family: 'roboto', sans-serif, arial;
    background-color: $color-blue-dark;
    color: $color-light;
}

ul,li,p,
h1,h2,h3 {
    margin: 0;
    padding: 0;
}

h1,h2,h3 {
    font-family: 'roboto-bold';
    font-weight: normal;
}

ul, li {
    list-style: none;
}

h1 {
   font-size: 1.9rem;
}

h2 {
   font-size: 1.7rem;
}

h3 {
   font-size: 1.4rem;
}

button {
  cursor: pointer;
  border: none;
  background-color: $color-green;
  color: $color-blue-dark;
  font-weight: 700;
  padding: .75rem 1rem;
  border-radius: 8px;
  letter-spacing: .5px;
  text-transform: uppercase;
}

a{
  color: $color-blue-light;
  text-decoration: none;
}

.header {
  display: flex;
  padding: 20px 0 30px;
  text-align: center;

  h1 {
    flex-grow: 1;
  }
}

.container {
  margin: 0 100px;
}

.heart-empty {
  &::before {
    @include hearts();
    content: "\2661";
  }
}
.heart-fill {
  &::before {
    @include hearts();
    content: "\2665";
    // color: $color-red;
  }
}