@font-face {
  font-family: 'roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'roboto-bold';
  src: url('/assets/fonts/Roboto-Bold.ttf');
}

body {
    font-size: 1rem;
    font-family: 'roboto', sans-serif, arial;
    background-color: #121f3d;
    color: #eff3f8;
}

ul,li,p,
h1,h2,h3 {
    margin: 0;
    padding: 0;
}

h1,h2,h3 {
    font-family: 'roboto-bold';
    font-weight: normal;
}

ul, li {
    list-style: none;
}

h1 {
   font-size: 1.9rem;
}

h2 {
   font-size: 1.7rem;
}

h3 {
   font-size: 1.4rem;
}