$color-blue: #637b9d;
$color-blue-dark:#121f3d;
$color-blue-darker:#03091e;
$color-blue-1:#24385b;
$color-blue-light: #33b1ff;
$color-blue-lighter: #becde3;
$color-light: #eff3f8;
$color-green: #98ca3f;
$color-green-dark: #55cc44;
$color-green-light: #c1df8b;
$color-red: #d63d2e;
$color-yellow: #fdb515;